.comment-container-animation {
  animation: loader 0.5s normal forwards ease-in-out;
}

@keyframes loader {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}
